# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.aspnet-core-dummy-two-factor-authentication.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\VS\aspnet-core-dummy-two-factor-authentication\Code\.idea\.idea.aspnet-core-dummy-two-factor-authentication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
