@model TwoFactorAuth.Web.ViewModels.Login.LoginStep1ViewModel

@{ ViewData["Title"] = "First Login Step"; }

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                @* novalidate="novalidate" *@
                
                @* Html.AntiForgeryToken()  noneed   it gets automagically injected *@

                <h4>Guess the 1st password</h4>
                <hr>

                <div class="form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = @"form-control", autofocus = "autofocus" })

                    <span asp-validation-for="Password" class="text-danger"></span>

                    @Html.HiddenFor(x => x.HiddenEncodedPassword)
                </div>

                <div class="form-group">
                    <button id="LoginSubmit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </section>
    </div>
</div>

