@{ ViewData["Title"] = "Well Done!"; }

@model TwoFactorAuth.Web.ViewModels.Home.WelldoneViewModel

<div class="text-center app-wellcome-container">
    <h1 class="display-4">Well Done!</h1>

    <div class="pb-4">
        <div class="mt-4">
            <img
                src=""
                alt="ignored"
                loading="lazy"
                data-gifffer="@(Model.GreenTickImagePath)"
                data-gifffer-alt="Green Tick"
                data-gifffer-duration="4350"/>
        </div>
        <p>
            Wow you made it! Click the Download link to download the README.md file of the website!
        </p>
        <div class="mt-4">
            <a
                href="data:text/plain;charset=UTF-8,https://raw.githubusercontent.com/dsidirop/aspnet-core-dummy-two-factor-authentication/main/README.md"
                class="bg-primary text-white py-2 px-4 rounded"
                download="README.md">
                Download
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/bundles/welldone-view-bundle.min.js" asp-append-version="true"></script>

    <script>
        $(function(){
            window.WelldoneController.Init({
                rootContainerSelector: ".app-wellcome-container"
            });
        });
    </script>
}
