@{ ViewData["Title"] = "Well Done!"; }

<div class="text-center">
    <h1 class="display-4">Well Done!</h1>

    <div class="pb-4">
        <p>
            Wow you made it! Click the Download link to download the README.md file of the website!
        </p>
        <div class="mt-4">
            <a href="https://raw.githubusercontent.com/dsidirop/aspnet-core-dummy-two-factor-authentication/main/README.md" class="bg-primary text-white py-2 px-4 rounded">Download</a>
        </div>
    </div>
</div>
